@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes hourglass {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: inset #ffffff 0 -0em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -4em 0 0;
            box-shadow: inset #ffffff 0 -0em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -4em 0 0;
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: inset #ffffff 0 -2em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -2em 0 0;
            box-shadow: inset #ffffff 0 -2em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -2em 0 0;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: inset #ffffff 0 -2em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -2em 0 0;
            box-shadow: inset #ffffff 0 -2em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -2em 0 0;
  }
}

@keyframes hourglass {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: inset #ffffff 0 -0em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -4em 0 0;
            box-shadow: inset #ffffff 0 -0em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -4em 0 0;
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-box-shadow: inset #ffffff 0 -2em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -2em 0 0;
            box-shadow: inset #ffffff 0 -2em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -2em 0 0;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-box-shadow: inset #ffffff 0 -2em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -2em 0 0;
            box-shadow: inset #ffffff 0 -2em 0 0, inset #000000 0 -2em 0 0, inset #ffffff 0 -2em 0 0;
  }
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 1vw;
  overflow-x: hidden;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #d4d4d4;
  text-rendering: optimizeLegibility;
  --webkit-font-smoothing: antialiased;
  height: 100%;
}

body::after {
  background-image: url("../assets/noise.gif");
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.05;
  position: fixed;
  pointer-events: none;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 1rem;
}

body {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000000;
}

.heading-primary {
  font-family: "Bodoni Moda", serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  line-height: 6rem;
}

.heading-tertiary {
  display: block;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
}

.heading-quaternary {
  text-transform: capitalize;
  font-weight: 300;
}

.btn, .btn:link, .btn:visited {
  border-radius: 3px;
  border: 1px solid #000000;
  padding: 1.25rem 3rem;
  background-color: transparent;
  color: currentColor;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-right: 3rem;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn:before, .btn:after {
  content: "";
  position: absolute;
  -webkit-transition: inherit;
  transition: inherit;
  z-index: -1;
}

.btn:hover {
  color: #ffffff;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.btn:hover:before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.btn:hover:after {
  background: #000000;
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.btn--animate-top:before, .btn--animate-top:after {
  left: 0;
  height: 0;
  width: 100%;
}

.btn--animate-top:before {
  bottom: 0;
  border: 2px solid #000000;
  border-top: 0;
  border-bottom: 0;
}

.btn--animate-top:after {
  top: 0;
  height: 0;
}

.btn--animate-top:hover:before, .btn--animate-top:hover:after {
  height: 100%;
}

.loader {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  display: flex;
  z-index: 1000;
}

.loader div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: black;
  height: 100%;
}

.form__input {
  width: 90%;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 1rem 1.5rem;
  background-color: transparent;
  margin-bottom: 2rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.form__input::-webkit-input-placeholder {
  font-size: 0.75rem;
}

.form__input:-ms-input-placeholder {
  font-size: 0.75rem;
}

.form__input::-ms-input-placeholder {
  font-size: 0.75rem;
}

.form__input::placeholder {
  font-size: 0.75rem;
}

.form__input:focus, .form__input:active {
  border: none;
  outline: none;
  border-bottom: 2px solid #000000;
}

.form__label {
  display: block;
  margin-left: 1.5rem;
  font-size: 0.75rem;
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  visibility: hidden;
}

.header {
  padding: 0 3.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.header__logo, .header__logo:link, .header__logo:visited {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
  cursor: default;
}

.header__logo span {
  display: block;
}

.header__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-right: 3rem;
  margin-left: auto;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social-icons li:not(:last-child) {
  margin-right: 1.1rem;
}

.header__social-icons li {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__social-icons li:hover, .header__social-icons li:focus {
  -webkit-transform: scale(1.15) translateY(-3px);
          transform: scale(1.15) translateY(-3px);
}

.header__social-link, .header__social-link:link, .header__social-link:visited {
  color: inherit;
  font-size: 1.25rem;
}

.header__btn, .header__btn:link, .header__btn:visited {
  padding: 0.5rem 1rem !important;
  font-size: 0.75rem;
  margin-right: 0;
}

.header__btn:hover, .header__btn:focus {
  -webkit-animation: pulse 0.6s infinite;
          animation: pulse 0.6s infinite;
  color: #000000 !important;
}

.navigation {
  position: fixed;
  left: calc(100% - 18rem);
  bottom: 32%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 1000;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navigation__list li:not(:last-child) {
  margin-right: 5rem;
}

.navigation__link, .navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
  text-transform: uppercase;
  position: relative;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.navigation__link::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  pointer-events: none;
  background-color: #000000;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.navigation__link:hover::after, .navigation__link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container {
  max-width: 80vw;
  margin: 0 auto;
}

.home {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .hero__wrapper .heading-primary span {
  display: block;
}

.home__name {
  display: inline-block !important;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.home__name:not(:last-child) {
  margin-right: -1rem;
}

.home__name:hover {
  -webkit-animation: rubberBand 1s;
          animation: rubberBand 1s;
}

.contact {
  height: 90vh;
}

.contact .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.contact__left, .contact__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 8rem;
}

.about__header {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__content--left, .about__content--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 10rem;
}

.about__avatar {
  width: 100%;
}

.skills__header {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__content--left, .skills__content--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10rem;
}

.skills__group {
  display: block;
}

.skills__group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.skills__group-progress {
  margin-top: 1rem;
  width: 100%;
  height: 1rem;
  border-radius: 1rem;
  border: 1px solid #000000;
  overflow: hidden;
}

.skills__group-progress span {
  display: block;
  background-color: #000000;
  height: 100%;
}

.work__header {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work__content-wrapper {
  position: relative;
}

.work__content-wrapper:hover .work__image {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  -webkit-clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}

.work__content-wrapper:hover .work__title-box {
  background-color: #d4d4d4;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
}

.work__image {
  width: 70%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-clip-path: polygon(10% 0, 90% 0, 90% 100%, 10% 100%);
          clip-path: polygon(10% 0, 90% 0, 90% 100%, 10% 100%);
}

.work__title-box {
  position: absolute;
  right: 12rem;
  bottom: 0;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 1rem 1.5rem;
}

.work__arrow {
  display: block;
  text-align: right;
  font-size: 3rem;
}

.work__arrow a {
  text-decoration: none;
  color: inherit;
}

.work__filler {
  display: block;
  height: 10vh;
  width: 100%;
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 10vh;
}

.resume .container {
  padding: 10vh 10rem 10vh 0;
}

.resume .heading-secondary {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 3rem;
}

.resume__contacts {
  min-height: 15vh;
  -webkit-columns: 2;
          columns: 2;
  padding: 3rem 0;
}

.resume__contacts span {
  display: block;
}

.resume__objective {
  padding-bottom: 3rem;
}

.resume__education {
  margin-bottom: 3rem;
}

.resume__education > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume__education--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.resume__education--right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.resume__education span {
  display: block;
}

.resume__experience {
  padding-bottom: 3rem;
}

.resume__experience > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume__experience--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.resume__experience--right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.resume__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}

.resume__skills--left, .resume__skills--right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 5rem;
}

.resume__skills--left .skills__group, .resume__skills--right .skills__group {
  margin-top: 1rem;
}

.resume .tab {
  display: inline-block;
  width: 5rem;
}

.resume__other-skills > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume__other-skills--left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.resume__other-skills--right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.resume__other-skills span {
  display: block;
}
/*# sourceMappingURL=styles.css.map */